{% extends 'layouts/base.html' %}
{% block content %}
<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed vero tempore
  architecto illum ullam dolore soluta necessitatibus corrupti vel non rerum,
  eveniet, blanditiis a alias quae, repellendus molestiae pariatur error
  temporibus iure laudantium. Magnam aut esse placeat natus dolore, magni
  aliquam inventore facilis. Alias nesciunt magni rem dolorem animi delectus
  maiores id! Impedit inventore, dolorem eos ipsa, necessitatibus possimus
  libero perferendis modi rem iure omnis enim rerum iusto quasi atque velit non
  consectetur cupiditate ipsum dolore fugiat provident a vitae. Ad, placeat
  architecto? Temporibus est omnis similique, repellat in sapiente! Eligendi quo
  assumenda porro minus esse? Veritatis a laborum ad.
</p>

<p>Website created by {{username}}</p>
{% endblock %}
